<div>
<div #vn  class="p-col-12" style="position: relative; z-index: 2">
    <input hidden type="checkbox" class="inputC" id="checkB">
    <label for="checkB" class="overlay"></label>
    <div  class="nav_mobile">
        <label for="checkB" pButton pRipple type="button" icon="pi pi-times" id="cancel" class="p-button-rounded p-button-secondary p-button-text"></label>
        <div class="p-d-flex p-flex-column" style="margin: 27px 0 0 10%">
            <div class="p-mb-2" routerLink="/news">
                <div class="p-d-flex">
                    <p-avatar styleClass="p-mr-2"  size="large" [style]="{'background-color': '#74E4E4'}" shape="circle"></p-avatar>
                    <div style="font-family: Roboto;
                                        font-style: normal;
                                        font-weight: bolder;
                                        font-size: 45px;">
                        KIT Club
                    </div>
                </div>
            </div>
            <div class="p-mb-2" style="font-family: Roboto;
                                                     font-style: normal;
                                                     font-weight: bolder;
                                                     font-size: 25px;
                                                     line-height: 37px;
                                                     margin: 20px 0 0 28px">
                <div class="p-d-flex p-flex-column">
                    <div class="p-mb-2"><a style="padding-left: 30px">News</a></div>
                    <div class="p-mb-2"><a style="padding-left: 30px">Products</a></div>
                    <div class="p-mb-2"><a style="padding-left: 30px">Courses</a></div>
                    <div><a style="padding-left: 30px">Sign In</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-d-flex p-shadow-5" style=" height: 74px; position: fixed; top: 0; left: 0; right: 0; background: #F7F7F7;">
        <label for="checkB" class="pi pi-bars" id="icon" ></label>
        <div class="p-mr-2" id="header" routerLink="/news">
            <div class="p-d-flex" style="position: absolute; top: 17px; left: 5%">
                <p-avatar styleClass="p-mr-2" [style]="{'background-color': '#74E4E4'}" shape="circle"></p-avatar>
                <div style="font-family: Roboto;
                                        font-style: normal;
                                        font-weight: bolder;
                                        font-size: 32px;
                                        line-height: 37px;">
                    KIT Club
                </div>
            </div>
        </div>
        <div class="p-mr-2" id="header" style="position: absolute; top: 27px; left: 47%;font-family: Roboto;
                                                                font-style: normal;
                                                                font-weight: bolder;
                                                                font-size: 18px;
                                                                line-height: 21px;">
            <div class="p-d-flex" >
                <div class="p-mr-2"><a style="padding-left: 30px">News</a></div>
                <div class="p-mr-2"><a style="padding-left: 30px">Products</a></div>
                <div class="p-mr-2"><a style="padding-left: 30px">Courses</a></div>
                <div><a style="padding-left: 30px">Sign In</a></div>
            </div>
        </div>
        <div  style="position: absolute; top: 17px; right: 5%;">
            <button pButton pRipple type="button" icon="pi pi-search"
                                class="p-button-rounded p-button-text p-button-outlined"
                                style="background-color: #74E4E4; color: black;"></button>
                    </div>
                </div>
            </div>
            <div class="p-col-12" id="ad">
                <div style="background-color:#004373 ;
                                           width: 90%;
                                           max-height: 1162px;
                                           display: inline-block; text-align:left">
                    <div class="p-grid">
                        <div class="p-md-12 p-lg-8">
                            <p id="caption" style="">
                                EXTENDED <a style="color: #74E4E4">TUTORIAL</a> SERIES ON YOUTUBE
                            </p>
                        </div>
                        <div class="p-md-5 p-lg-4" id="Pic" style="position: relative;">
                            <img src="assets/Capture.PNG" style="height: 210px;width: 250px;Border-radius: 12px; position: absolute; top: 10%; left: 10%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12" id="NewPost" style="">
                <router-outlet>
                </router-outlet>
            </div>
    <div class="p-col-12" style="background-color: #004373; text-align:center">
        <div style="width: 90%; max-width: 1162px; display: inline-block; text-align:left; margin-top: 30px">
            <div>
                <div class="p-d-flex">
                    <div class="p-mr-2">
                        <div class="p-d-flex p-flex-column p-shadow-1" style="width: 52px; height: 52px; background-color: #CFD8DC;">
                            <div class=" p-mb-2">
                                <div class="p-d-flex"  style="margin: -6px 0 0 3px">
                                    <div class="p-mr-2">
                                        <i class="pi pi-circle-on"  style="font-size: 6px"></i>
                                    </div>
                                    <div style="margin-left: -6px">
                                        <i class="pi pi-circle-on"  style="font-size: 6px"></i>
                                    </div>
                                </div>
                            </div>
                            <div style="margin: -10px 0 0 2.5px">
                                <div style="background-color: #263238; height: 38.20px; width: 46.67px; position: relative">
                                    <div style="font-family: Roboto; font-size: 17px; font-weight: bolder; color: #74E4E4; position: absolute; top: 8px; left: 12px">C:\</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="font-family: Roboto;
                            font-style: normal;
                            font-size: 36px;>
                            color: #FFFFFF;
                            margin: 5px 0 0 15px">
                        Popular this week
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px; text-align: center">
                <p-carousel id="pc"[value]="form" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" [responsiveOptions]="responsiveOptions">
                    <ng-template let-form pTemplate="item">
                        <div class="product-item" style="height: 283px; margin-top: 20px;">
                            <div class="p-shadow-5" routerLink="/post" style="margin-right: 10px; border-radius: 12px; height: 75%; min-width: 500px; background-color: #F6F6F6;">
                                <div class="p-d-flex" style=" padding: 3%;">
                                    <div class="p-mr-2" style="position: relative">
                                        <img src="assets/{{form.thumbnail}}" class="product-image"
                                             style="width: 165px; height: 180px;"/>
                                    </div>
                                    <div style="margin: 3px 0 0 8px; position:relative">
                                        <div id="NeedUseDots" style="font-family: Roboto;
                                                                     font-style: normal;
                                                                      font-weight: bolder;
                                                                      font-size: 18px;">
                                            {{form.Caption}}
                                        </div>
                                        <div style="margin-top: 10px">
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                            </p-tag>
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                            </p-tag>
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                            </p-tag>
                                        </div>
                                        <div id="NeedUseDots" style="font-family: Roboto;
                                                                                 margin-top: 10px;
                                                                                 font-style: normal;
                                                                                 font-weight: normal;
                                                                                 font-size: 12px;
                                                                                 line-height: 14px;
                                                                                 color: #868686;">
                                            {{form.content}}
                                        </div>
                                        <div>
                                            <div class="p-d-flex p-flex-column p-flex-md-row" style="margin-top:-5px;font-family: Inter; font-size: 12px; position: absolute; bottom: 0; right: 0; left: 0">
                                                <div class="p-mb-2 p-mr-2">
                                                    <div class="p-d-flex" style="margin-top: 7px;">
                                                        <div class="p-mr-2">
                                                            <p-avatar image="./assets/{{form.avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                        </div>
                                                        <div style="margin: 3px 0 0 -7px">
                                                            <label style="color: #BBBBBB;">{{form.rank}}</label><br>
                                                            <label style="color: #000000; font-weight: bolder">{{form.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-mb-2 p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                    <label style="color: #BBBBBB;">Time</label><br>
                                                    <label style="color: #000000; font-weight: bolder;">{{form.time}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                <p-carousel id="mobile" [value]="form" orientation="vertical" [style]="{'max-width':'400px', 'margin-top':'2em'}" verticalViewPortHeight="380px" [numVisible]="1" [numScroll]="1">
                    <ng-template let-form pTemplate="item">
                        <div class="product-item">
                            <div class="p-shadow-5" routerLink="/post" style="border-radius: 12px; height: 370px; max-width: 300px; background-color: #F6F6F6;">
                                <div  class="p-d-flex p-flex-column" style=" padding: 3%;">
                                    <div class="p-mb-2" style="position: relative; text-align: center">
                                        <img src="assets/{{form.thumbnail}}" class="product-image"
                                             style=" width: 100%; height: 215px;"/>
                                    </div>
                                    <div style="margin: 3px 0 0 8px">
                                        <div id="NeedUseDots" style="font-family: Roboto;
                                                                     font-style: normal;
                                                                      font-weight: bolder;
                                                                      font-size: 18px;
                                                                      line-height: 21px">
                                            {{form.Caption}}
                                        </div>
                                        <div id="NeedUseDots" style="margin-top: 10px">
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                            </p-tag>
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                            </p-tag>
                                            <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                            </p-tag>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <div class="p-d-flex" style="margin-top:-5px;font-family: Inter; font-size: 12px">
                                                <div class="p-mr-2">
                                                    <div class="p-d-flex" style="margin-top: 7px;">
                                                        <div class="p-mr-2">
                                                            <p-avatar image="./assets/{{form.avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                        </div>
                                                        <div style="margin: 3px 0 0 -7px">
                                                            <label style="color: #BBBBBB;">{{form.rank}}</label><br>
                                                            <label style="color: #000000; font-weight: bolder">{{form.name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                    <label style="color: #BBBBBB;">Time</label><br>
                                                    <label style="color: #000000; font-weight: bolder;">{{form.time}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
    <div class="p-col-12" style="background-color: #EFEFEF; text-align:center;">
            <div class="p-grid" style=" min-height: 564px; width: 90%; max-width: 1162px;; display: inline-block; text-align:left; margin-top: 30px">
                <div class="p-col-12" style="margin-top: -60px">
                    <p style="color: #000000; font-size: 64px; font-family: Roboto; font-weight: bolder">More from KIT Club</p>
                    <p style="color: #000000; font-size: 24px; font-family: Roboto;margin-top: -70px">BEST STUFF FROM KIT CLUB</p>
                </div>
                <div class="p-d-flex p-flex-wrap">
                    <a class="p-mr-3 p-mb-3">
                        <img src="https://s3-alpha-sig.figma.com/img/bf32/3c6b/fa236504fcc4c0bbd4eb5adbcce21304?Expires=1638748800&Signature=MgtPIxQZnrihGGrbkNIi1ZcXoIuJg2yh3UJcq4CtZ-HeSCNithb7h~3XRMV4KpL-6nDwZXOGOKLf-QtwB--LTim0aIPPww-zHcd3nGKT0Cts9MuOP8Hf3IB74qInWLSpOJViVNrBQJ0RTR1lD49cqu7Qlj09os-fc9uNHPyqpwHAwBWKmMJi3YcjPhXjWLJYmhSYwbRMQgxOPE6yEmyvZhA7wW7cSeX06tSpZA-81FxDFMAo~GjZSuj-w3ldiL5IpF9BqevQslR~7WA2t4~qIBsogncpHu~b5zv3PrxiFp0~2QTnfQxRKljqTSsJEIPhSbMNt2Ox4yxLukr1TVrrCg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height: 252px;width: 270px;Border-radius: 8px">
                        <p style="font-size: 24px; font-family: Roboto; color: #000000;font-weight: bold;">Talks</p>
                    </a>
                    <a class="p-mr-3 p-mb-3">
                        <img src="https://s3-alpha-sig.figma.com/img/8a8a/e463/c6af3af63d55a453d9fdda6c4cb80be6?Expires=1638748800&Signature=bm2ke2EKd41sKPIqYX427R9fWbKL11ok4wd1kwAY1OMjBXXZ8q5Aw--ioqf7pWPyxQKhbhRoJSRDB3NtbCk7l5OdEGI-88XBxjej1aXXShhU2OGwrAwbNFEiq7aum1YtP5o0rYOU3er-6L5siezgp82KtGRVTNNVWpEa9yC---ruMiVa7r8CWwpjaOgvQ4BvSQplFxOVhxEYxTAgxwtOWYe52ORBYC5u2bIB4~N5L4OpCOLb4TjTN4mOhOU3sGXO-PW0kDaGWSu27EMYL~qPAm-yV5uB7GnLb2MQUbHOC0YVldZ3uiLSnjZTeUzqul3Tw7nozYfLOqgnaFrbjoigDw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height: 252px;width: 270px;Border-radius: 8px">
                        <p style="font-size: 24px; font-family: Roboto; color: #000000;font-weight: bold;">Resources</p>
                    </a>
                    <a class="p-mr-3 p-mb-3">
                        <img src="https://s3-alpha-sig.figma.com/img/0dc0/03c7/b42a646c39ef6050537bc53cb385508a?Expires=1638748800&Signature=dwUrJj5yf~c1qeLSQ5soRdCRrpEfqELsiBZITi~-gU6yJ1sWDXiQj5z1TjEPt6~fdsaptIFBf1OfdJs5lzzNq3euSoZ2TspFr-D3pC0YD6eTcGk1xSY~97LyqY-b9tH99m5aWHluxa0gwpj4t6uheJXZQbg9AIlI0yfNFFx7sQRvRm9SWN3SwA1kAc~cI0xQ8xpVGeO-J7WSxEFrZGhK85Ruhj7-xrUmVGAjs6ZLNPyJCXCmNJk4pDFn5G~TMAza9dPVZFBV0zsPxJ6F~Q6G51z2oiX-Ow2-H3WaPROZlsQHz2b72MKp764~K3JVrh9b435m9Ni7n9XBsAtsrtK9OA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height: 252px;width: 270px;Border-radius: 8px">
                        <p style="font-size: 24px; font-family: Roboto; color: #000000;font-weight: bold;">Courses</p>
                    </a>
                    <a class="p-mr-3 p-mb-3">
                        <img src="https://s3-alpha-sig.figma.com/img/df2d/ded6/a38a52b6712eeb913582b478813f7641?Expires=1638748800&Signature=X6dxotBZm2afl0ySmmT1dO9aSPHvM1RR3f3FTeL1zotRZsLS7hpvlVwntH12a4JbweryE8jWmUNv5cs79Tg8GysyJPZ3NpK1Iym9nWsTNqVKA5eV3DFXJii5WPRXufg16CQktQnymHGXm038J1BBU2hnmprHUHDzrf~VNYIwt5ezyRrE1WZMqqRU7yLgMk20ZdIu8tHYLmgkwffrf~m5ioQQ7TQsaaVwh9uIMyRdiNWDrtd9O~wJsKYe0~-RJ~JjMZXuOv~adKW45W7wpxr3c3G~5vMuPvgdCDodYMiMsVvwTBbepj-IruXpPVvjmgMQSVxtdwtGEjBhaJuJgCYwnw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="height: 252px;width: 270px;Border-radius: 8px">
                        <p style="font-size: 24px; font-family: Roboto; color: #000000;font-weight: bold;">Podcast</p>
                    </a>
                </div>
            </div>
    </div>
    <div class="p-col-12" style="background-color: #004373; text-align:center;">
        <div style="width: 90%; max-width: 1162px; display: inline-block; text-align:left; margin-top: 30px">
            <div class="p-grid" style="min-height: 250px;">
                <div class="p-lg-6 p-col-12" id="email" style="margin-top: 17px">
                        <div class="p-col-12" style="font-family: Roboto; ">
                            <div style="color: #74E4E4; font-size: 36px; font-weight: bolder">Subscribe</div>
                            <div style="color: white; font-size: 20px;">Start receiving our weekly newsletter</div>
                        </div>
                        <div class="p-col-12" style=" width: 100%; margin: 40px 0 0 1px;">
                            <div class="p-inputgroup" style="height: 46px;">
                                <input type="text" pInputText placeholder="   Email address" style="Border-radius: 8px 0px 0px 8px">
                                <button type="button" pButton pRipple label=" Subscribe " style="color:#000;Border-radius : 0px 8px 8px 0px; width: 35%"></button>
                            </div>
                        </div>
                </div>
                <div class="p-lg-6 p-col-12" style="text-align: center; font-family: Roboto;">
                    <div style=" display: inline-block;">
                        <div class="p-d-flex p-flex-column p-flex-md-r">
                            <div class="p-mb-2 p-mr-2">
                                <div class="p-d-flex p-flex-column p-flex-md-row">
                                    <div class="p-mb-2 p-mr-2">
                                        <h2 style="color: #74E4E4; font-weight: bolder">Facebook</h2>
                                        <p style="color: white; margin-top: -13px">@kitclub</p>
                                    </div>
                                    <div class="p-mb-2 p-mr-2" id="s" >
                                        <h2 style="color: #74E4E4; font-weight: bolder">Twitter</h2>
                                        <p style="color: white; margin-top: -13px;">@kitclub</p>
                                    </div>
                                    <div class="p-mb-2 p-mr-2" id="s" >
                                        <h2 style="color: #74E4E4;; font-weight: bolder">Youtube</h2>
                                        <p style="color: white; margin-top: -13px;">@kitclub</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p-mb-2 p-mr-2">
                                <div class="p-d-flex p-flex-column p-flex-md-row">
                                    <div class="p-mb-2 p-mr-2">
                                        <h2 style="color: #74E4E4; ">Linkedin</h2>
                                        <p style="color: white; margin-top: -13px">@kitclub</p>
                                    </div>
                                    <div class="p-mb-2 p-mr-2" id="s">
                                        <h2 style="color: #74E4E4;">Github</h2>
                                        <p style="color: white; margin-top: -13px;">@kitclub</p>
                                    </div>
                                    <div class="p-mb-2 p-mr-2" id="s" >
                                        <h2 style="color: #74E4E4;">Spotify</h2>
                                        <p style="color: white; margin-top: -13px;">@kitclub</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

