#mobilePost{
    text-align: left;
    display: none;
}
div{
    padding: 0;
}
#NeedUseDots{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media only screen and (min-width: 1024px){
    #Infor1{
        display: none;
    }
    #newspaper1{
        display: none;
    }
}
@media only screen and (max-width: 800px){
    #Infor1{
        display: none;
    }
    #newspaper1{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    #Infor{
        display: none;
    }
    #newspaper{
       display: none;
    }
    #Infor1{
        display: block;
    }
    #newspaper1{
        display: block;
    }
    #mobilePost{
        display: inline-block;
    }
    #pcPost{
        display: none;
    }
}
