
<div id="Content"style="width: 89%;max-width: 1162px; display: inline-block; text-align:left">
     <div class="p-grid" style=" font-size: 12px">
                    <div class="p-col-12">
                        <div style="font-style: normal;font-weight: bold;font-size: 36px; margin-bottom: 10px">
                            Laboris labore velit ea aliquip veniam reprehenderit consequat
                        </div>
                    </div> <!--tieu de-->
                    <div class="p-col-4" id="Infor">
                        <div class="p-d-flex p-flex-column">
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 61px">
                                <div class="p-d-flex p-flex-column p-flex-md-row" style="margin: 8px 0px 0 11.17%; font-family: Inter;">
                                    <div class="p-mb-2 p-mr-2">
                                        <div class="p-d-flex" style="margin-top: 7px;">
                                            <div class="p-mr-2">
                                                <p-avatar image="./assets/Capture.PNG" styleClass="p-mr-2" shape="circle"></p-avatar>
                                            </div>
                                            <div style="margin: 3px 0 0 -7px">
                                                <label style="color: #BBBBBB;">Auther</label><br>
                                                <label style="color: #000000; font-weight: bolder">Trung Dung</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-mb-2 p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                        <label style="color: #BBBBBB;">Time</label><br>
                                        <label style="color: #000000; font-weight: bolder;">21.12.2021</label>
                                    </div>
                                </div>
                            </div>  <!--Infor nguoi dang bai-->
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 147px;
                                                            font-family: Inter; font-style: normal;">
                                <div class="p-d-flex p-flex-column" style="margin: 15px 0px 0 11.17%">
                                    <div class="p-mb-2">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-2" style="color: #BBBBBB;">Tags</div>
                                            <div>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                                </p-tag>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                                </p-tag>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                                </p-tag>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 5px">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-2" style="color: #BBBBBB;">Share this post</div>
                                            <div>
                                                <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
                                                <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  <!-- Tag and share -->
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 270px;
                                                            font-family: Inter; font-style: normal;">
                                <div class="p-d-flex p-flex-column" style="margin: 15px 0px 0 11.17%">
                                    <div class="p-mb-2">
                                        <h3>
                                            Comments
                                            <a style="margin: 4%; color: #BBBBBB;">{{count}}</a>
                                        </h3>
                                        <form class="p-float-label" style="margin-top: 20px">
                                            <textarea  id="float-input" rows="5" cols="30" style="width: 86%; border-radius: 12px" pInputTextarea>
                                            </textarea>
                                            <label for="float-input">Leave a comment</label>
                                        </form>
                                    </div> <!-- Input cmt -->
                                    <div class="p-mb-2">
                                        <div class="p-d-flex">
                                            <div class="p-mr-2">
                                                <button [disabled]="form.length==0" pButton pRipple type="button" class="p-button-outlined p-button-rounded p-button-secondary" style="height: 28px">
                                                    <div style="font-family: Inter; font-weight: bolder; font-size: 12px; color: #000000;">
                                                        Leave a comment
                                                    </div>
                                                </button>
                                            </div>
                                            <div style="font-family: Inter;">
                                                <div style="color: #BBBBBB;">Already registered?</div>
                                                <a style="color: #000000; font-weight: bolder;" href="https://www.facebook.com/profile.php?id=100010411335621">Log in ></a>
                                            </div>
                                        </div>
                                    </div> <!--leave a cmt-->
                                    <div class="p-mb-2" [hidden]="form.length!=0" >
                                        <h1 style=" color: #BBBBBB; margin: 20px">No comment</h1>
                                    </div>
                                    <p-scrollPanel [hidden]="form.length==0" [style]="{width: '100%', height: '400px', margin: '30px 0 30px 0'}" >
                                        <div class="p-d-flex p-flex-column" *ngFor="let user of form" style="width: 90%; margin-top: 20px">
                                            <div class="p-mb-2">
                                                <div class="p-d-flex p-flex-column p-flex-md-row" style="font-family: Inter; font-size: 12px">
                                                    <div class="p-mb-2 p-mr-2">
                                                        <div class="p-d-flex" style="margin-top: 7px;">
                                                            <div class="p-mr-2">
                                                                <p-avatar image="assets/{{user.thumbnail}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                            </div>
                                                            <div style="margin: 3px 0 0 -7px">
                                                                <label style="color: #BBBBBB;">{{user.rank}}</label><br>
                                                                <label style="color: #000000; font-weight: bolder">{{user.name}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-mb-2 p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                        <label for="dl1" style="color: #BBBBBB;">Time</label><br>
                                                        <label id="dl1" style="color: #000000; font-weight: bolder;">{{user.time}}</label>
                                                    </div>
                                                </div>
                                            </div> <!-- infor nguoi dung -->
                                            <div style="margin-top: -7px; font-size: 14px; font-family: Roboto;">
                                               {{user.content}}
                                            </div> <!-- cmt nguoi dung -->
                                        </div>
                                    </p-scrollPanel> <!-- cmt nguoi dung -->
                                </div>
                            </div> <!-- Cmt người dùng-->
                        </div>
                    </div> <!--phan thong tin-->
                    <div class="p-col-8" id="newspaper" style="font-family: Roboto;">
                        <div class="card" style="margin-top: -10px;  margin-left: 30px">
                            <p style="color: #797979;font-weight: normal; font-size: 18px;">
                                Laboris labore velit ea aliquip veniam reprehenderit consequat excepteur excepteur. Veniam quis non occaecat est non elit velit excepteur eiusmod reprehenderit ipsum. Duis culpa dolor commodo eiusmod cupidatat eu minim non.</p>
                            <p-divider></p-divider>
                            <p style="color: #000000;font-weight: normal; font-size: 14px;">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                            <img src="https://www.desktopbackground.org/p/2013/06/04/586842_pantheon-league-of-legends-wallpaper-pantheon-desktop-wallpapers_1600x900_h.jpg" style="border-radius: 12px; width: 100%">
                            <p style="color: #000000;font-weight: normal; font-size: 14px;">
                                Sit pariatur occaecat commodo elit incididunt magna irure quis cillum est do amet veniam. Exercitation ut in duis irure. Proident irure irure anim non adipisicing consequat cupidatat irure. Sit excepteur est duis reprehenderit. Quis deserunt labore culpa irure consectetur incididunt reprehenderit. Laboris do velit et amet dolor eu dolore labore laborum id. Reprehenderit ut in irure aute aliqua duis. Occaecat elit adipisicing pariatur consequat in exercitation nisi sint et pariatur ex non. Ullamco minim incididunt ullamco ad fugiat occaecat ad velit officia consectetur sint commodo. Mollit do aliquip sint quis quis officia elit ullamco elit cillum ipsum fugiat id. Ex ut veniam nostrud elit quis duis do minim duis fugiat ut. Quis ut eiusmod deserunt occaecat ut enim esse ea minim amet incididunt velit duis.
                            </p>
                        </div>
                    </div> <!--trang bao-->
                    <div class="p-col-12" id="newspaper1" style="font-family: Roboto;">
                        <div class="card" style="margin-top: -10px;">
                            <p style="color: #797979;font-weight: normal; font-size: 18px;">
                                Laboris labore velit ea aliquip veniam reprehenderit consequat excepteur excepteur. Veniam quis non occaecat est non elit velit excepteur eiusmod reprehenderit ipsum. Duis culpa dolor commodo eiusmod cupidatat eu minim non.</p>
                            <p-divider></p-divider>
                            <p style="color: #000000;font-weight: normal; font-size: 14px;">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                            <img src="https://www.desktopbackground.org/p/2013/06/04/586842_pantheon-league-of-legends-wallpaper-pantheon-desktop-wallpapers_1600x900_h.jpg" style="border-radius: 12px; width: 100%">
                            <p style="color: #000000;font-weight: normal; font-size: 14px;">
                                Sit pariatur occaecat commodo elit incididunt magna irure quis cillum est do amet veniam. Exercitation ut in duis irure. Proident irure irure anim non adipisicing consequat cupidatat irure. Sit excepteur est duis reprehenderit. Quis deserunt labore culpa irure consectetur incididunt reprehenderit. Laboris do velit et amet dolor eu dolore labore laborum id. Reprehenderit ut in irure aute aliqua duis. Occaecat elit adipisicing pariatur consequat in exercitation nisi sint et pariatur ex non. Ullamco minim incididunt ullamco ad fugiat occaecat ad velit officia consectetur sint commodo. Mollit do aliquip sint quis quis officia elit ullamco elit cillum ipsum fugiat id. Ex ut veniam nostrud elit quis duis do minim duis fugiat ut. Quis ut eiusmod deserunt occaecat ut enim esse ea minim amet incididunt velit duis.
                            </p>
                        </div>
                    </div> <!--trang bao-->
                    <div class="p-col-12" id="Infor1" style="margin-top: 10px">
                        <div class="p-d-flex p-flex-column">
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 61px">
                                <div class="p-d-flex" style="margin: 8px 0px 0 11.17%; font-family: Inter;">
                                    <div class="p-mr-2">
                                        <div class="p-d-flex" style="margin-top: 7px;">
                                            <div class="p-mr-2">
                                                <p-avatar image="./assets/Capture.PNG" styleClass="p-mr-2" shape="circle"></p-avatar>
                                            </div>
                                            <div style="margin: 3px 0 0 -7px">
                                                <label style="color: #BBBBBB;">Auther</label><br>
                                                <label style="color: #000000; font-weight: bolder">Trung Dung</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                        <label style="color: #BBBBBB;">Time</label><br>
                                        <label style="color: #000000; font-weight: bolder;">21.12.2021</label>
                                    </div>
                                </div>
                            </div>  <!--Infor nguoi dang bai-->
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 147px;
                                                            font-family: Inter; font-style: normal;">
                                <div class="p-d-flex p-flex-column" style="margin: 15px 0px 0 11.17%">
                                    <div class="p-mb-2">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-2" style="color: #BBBBBB;">Tags</div>
                                            <div>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                                </p-tag>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                                </p-tag>
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                                </p-tag>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 5px">
                                        <div class="p-d-flex p-flex-column">
                                            <div class="p-mb-2" style="color: #BBBBBB;">Share this post</div>
                                            <div>
                                                <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text"></button>
                                                <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  <!-- Tag and share -->
                            <div class="p-shadow-5 p-mb-2" style="border-radius: 12px; min-height: 270px;
                                                            font-family: Inter; font-style: normal;">
                                <div class="p-d-flex p-flex-column" style="margin: 15px 0px 0 11.17%">
                                    <div class="p-mb-2">
                                        <h3>
                                            Comments
                                            <a style="margin: 4%; color: #BBBBBB;">{{count}}</a>
                                        </h3>
                                        <span class="p-float-label" style="margin-top: 20px">
                                            <textarea id="float-input" rows="5" cols="30"
                                                      style="width: 86%; border-radius: 12px" pInputTextarea>
                                            </textarea>
                                             <label for="float-input">Leave a comment</label>
                                        </span>
                                    </div> <!-- Input cmt -->
                                    <div class="p-mb-2">
                                        <div class="p-d-flex">
                                            <div class="p-mr-2">
                                                <button [disabled]="form.length==0" pButton pRipple type="button" class="p-button-outlined p-button-rounded p-button-secondary" style="height: 28px">
                                                    <div style="font-family: Inter; font-weight: bolder; font-size: 12px; color: #000000;">
                                                        Leave a comment
                                                    </div>
                                                </button>
                                            </div>
                                            <div style="font-family: Inter;">
                                                <div style="color: #BBBBBB;">Already registered?</div>
                                                <a style="color: #000000; font-weight: bolder;" href="https://www.facebook.com/profile.php?id=100010411335621">Log in ></a>
                                            </div>
                                        </div>
                                    </div> <!--leave a cmt-->
                                    <div class="p-mb-2" [hidden]="form.length!=0" >
                                        <h1 style=" color: #BBBBBB; margin: 20px">No comment</h1>
                                    </div>
                                    <p-scrollPanel [hidden]="form.length==0" [style]="{width: '100%', height: '400px', margin: '30px 0 30px 0'}" styleClass="custombar1">
                                            <div class="p-d-flex p-flex-column" *ngFor="let user of form" style="width: 90%; margin-top: 20px">
                                                <div class="p-mb-2">
                                                    <div class="p-d-flex" style="font-family: Inter; font-size: 12px">
                                                        <div class="p-mr-2">
                                                            <div class="p-d-flex" style="margin-top: 7px;">
                                                                <div class="p-mr-2">
                                                                    <p-avatar image="assets/{{user.thumbnail}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                                </div>
                                                                <div style="margin: 3px 0 0 -7px">
                                                                    <label style="color: #BBBBBB;">{{user.rank}}</label><br>
                                                                    <label style="color: #000000; font-weight: bolder">{{user.name}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                            <label for="dl" style="color: #BBBBBB;">Time</label><br>
                                                            <label id="dl" style="color: #000000; font-weight: bolder;">{{user.time}}</label>
                                                        </div>
                                                    </div>
                                                </div> <!-- infor nguoi dung -->
                                                <div style="margin-top: -7px; font-size: 14px; font-family: Roboto;">
                                                    {{user.content}}
                                                </div> <!-- cmt nguoi dung -->
                                            </div>
                                    </p-scrollPanel> <!-- cmt nguoi dung -->
                                </div>
                            </div> <!-- Cmt người dùng-->
                        </div>
                    </div> <!--phan thong tin-->
                    <a class="p-col-12" style="margin-top: 80px; text-align: center">
                        <p-carousel id="pcPost" [value]="form" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" [responsiveOptions]="responsiveOptions">
                            <ng-template pTemplate="header">
                                <h1 style="font-family: Roboto; margin-left: 1%; text-align: left">You may also like</h1>
                            </ng-template>
                            <ng-template let-form pTemplate="item">
                                <div class="product-item" style="height: 283px; margin-top: 20px;">
                                    <div class="p-shadow-5" routerLink="/post" style="margin-right: 10px; border-radius: 12px; height: 75%; min-width: 500px;">
                                        <div class="p-d-flex" style=" padding: 3%">
                                                <div class="p-mr-2">
                                                    <img src="assets/{{form.thumbnail}}" class="product-image"
                                                         style="width: 165px; height: 180px;"/>
                                                </div>
                                                <div style="margin-left: 1px; position: relative">
                                                    <div id="NeedUseDots" style="font-family: Roboto;
                                                                                     font-style: normal;
                                                                                     font-weight: bolder;
                                                                                     font-size: 18px;
                                                                                     line-height: 21px;">
                                                            {{form.Caption}}
                                                    </div>
                                                    <div style="margin-top: 10px">
                                                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                            <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                                        </p-tag>
                                                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                            <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                                        </p-tag>
                                                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                                <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                                            </p-tag>
                                                    </div>
                                                    <div id="NeedUseDots" style="font-family: Roboto;
                                                                                 font-style: normal;
                                                                                 font-weight: normal;
                                                                                 font-size: 12px;
                                                                                 line-height: 14px;
                                                                                 color: #868686;
                                                                                 margin-top: 15px">
                                                        {{form.content}}
                                                    </div>
                                                    <div style="position: absolute; bottom: 0; left: 10px; right: 0">
                                                        <div class="p-d-flex p-flex-column p-flex-md-row" style="font-family: Inter; font-size: 12px">
                                                            <div class="p-mb-2 p-mr-2">
                                                                <div class="p-d-flex" style="margin-top: 7px;">
                                                                    <div class="p-mr-2">
                                                                        <p-avatar image="./assets/{{form.avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                                    </div>
                                                                    <div style="margin: 3px 0 0 -7px">
                                                                        <label style="color: #BBBBBB;">{{form.rank}}</label><br>
                                                                        <label style="color: #000000; font-weight: bolder">{{form.name}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="p-mb-2 p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                                <label style="color: #BBBBBB;">Time</label><br>
                                                                <label style="color: #000000; font-weight: bolder;">{{form.time}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                        <p-carousel id="mobilePost" [value]="form" orientation="vertical" [style]="{'max-width':'400px', 'margin-top':'2em'}" verticalViewPortHeight="373px" [numVisible]="1" [numScroll]="1">
                            <ng-template pTemplate="header">
                                <h1 style="font-family: Roboto; margin-left: 1%; text-align: center">You may also like</h1>
                            </ng-template>
                            <ng-template let-form pTemplate="item">
                                <div class="product-item">
                                    <div class="p-shadow-5" routerLink="/post" style="border-radius: 12px; height: 370px; max-width: 300px;">
                                        <div  class="p-d-flex p-flex-column" style=" padding: 3%;">
                                            <div class="p-mb-2" style="position: relative; text-align: center">
                                                <img src="assets/{{form.thumbnail}}" class="product-image"
                                                     style=" width: 100%; height: 215px;"/>
                                            </div>
                                            <div style="margin: 3px 0 0 8px">
                                                <div  id="NeedUseDots" style="font-family: Roboto;
                                                                     font-style: normal;
                                                                      font-weight: bolder;
                                                                      font-size: 18px;
                                                                      line-height: 21px">
                                                    {{form.Caption}}
                                                </div>
                                                <div style="margin-top: 10px">
                                                    <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                        <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                                    </p-tag>
                                                    <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                        <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                                    </p-tag>
                                                    <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                        <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                                    </p-tag>
                                                </div>
                                                <div style="margin-top: 10px">
                                                    <div class="p-d-flex" style="margin-top:-5px;font-family: Inter; font-size: 12px">
                                                        <div class="p-mr-2">
                                                            <div class="p-d-flex" style="margin-top: 7px;">
                                                                <div class="p-mr-2">
                                                                    <p-avatar image="./assets/{{form.avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                                </div>
                                                                <div style="margin: 3px 0 0 -7px">
                                                                    <label style="color: #BBBBBB;">{{form.rank}}</label><br>
                                                                    <label style="color: #000000; font-weight: bolder">{{form.name}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                            <label style="color: #BBBBBB;">Time</label><br>
                                                            <label style="color: #000000; font-weight: bolder;">{{form.time}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </a> <!--you may also like-->
        </div>
</div>
