<div id="news_content" style="padding-bottom: 60px">
    <div class="p-grid">
        <div class="p-lg-6 p-md-12" style="position: relative; height: 720px">
            <div style="text-align: center">
                <img src="assets/{{form1[index].thumbnail}}" style="width: 99%; height: 300px">
            </div>
            <div style="font-family: Roboto;  display: -webkit-box;
                                      -webkit-line-clamp: 2;
                                      -webkit-box-orient: vertical;
                                      overflow: hidden;
                                        margin-top: 20px;
                                      font-style: normal;
                                      font-weight: bolder;
                                      font-size: 32px;
                                      line-height: 37px;">
                {{form1[index].Caption}}
            </div>
            <div style="  display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;
                                                                                margin-top: 10px;
                                                                                font-family: Roboto;
                                                                                font-style: normal;
                                                                                font-weight: normal;
                                                                                font-size: 14px;
                                                                                line-height: 16px; color: #797979;">
                {{form1[index].content}}
            </div>
            <div class="p-grid" style="margin: 15px 0 0 2px">
                <div class="p-lg-6 p-md-12 p-col-12" style="font-family: Inter; font-size: 12px;">
                    <div class="p-d-flex" >
                        <div class="p-mr-2" >
                            <div class="p-d-flex" style="margin-top: 7px;">
                                <div class="p-mr-2">
                                    <p-avatar image="./assets/{{form1[index].avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                </div>
                                <div style="margin: 3px 0 0 -7px">
                                    <label style="color: #BBBBBB;">Auther</label><br>
                                    <label style="color: #000000; font-weight: bolder">{{form1[index].name}}</label>
                                </div>
                            </div>
                        </div>
                        <div style="line-height: 20px; margin: 3px 0 0 11.46%">
                            <label style="color: #BBBBBB;">Time</label><br>
                            <label style="color: #000000; font-weight: bolder;">{{form1[index].time}}</label>
                        </div>
                    </div>
                </div>
                <div class="tag p-lg-6 p-md-12 p-col-12 p-d-flex">
                    <div class = "p-mb-2" style="margin-top: 10px;">
                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                            <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                        </p-tag>
                    </div>
                    <div class = "p-mb-2" style="margin-top: 10px;">
                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                            <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                        </p-tag>
                    </div>
                    <div class = "p-mb-2" style="margin-top: 10px;">
                        <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                            <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                        </p-tag>
                    </div>
                </div>
            </div>
            <div class="p-grid" style="margin: 80px 0 0 2px; position: absolute; right: 0; left: 0; bottom: 110px">
                <div class="p-col-6">
                    <button pButton pRipple type="button" class="p-button-outlined p-button-rounded p-button-secondary" style="border-color: #868686" (click)="onClick1()">
                        <i class="pi pi-angle-left" style="color: #000000"></i>
                        <div class="router" style="margin-left: 5px; font-size: 12px; font-weight: bolder; font-family: inter; color: #000000">Last Post</div>
                    </button>
                </div>
                <div class="p-col-6" style="text-align: right">
                    <button pButton pRipple type="button" class="p-button-outlined p-button-rounded p-button-secondary" style="border-color: #868686" (click)="onClick()">
                        <div  class="router" style="margin-right: 5px; font-size: 12px; font-weight: bolder; font-family: inter; color: #000000">Next Post</div>
                        <i class="pi pi-angle-right" style="color: #000000"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="p-lg-6 p-md-12">
            <div class="recent-story" >Recent Stories</div>
            <div class="recent-story-new p-d-flex p-flex-column">
                <div class="storyPC p-shadow-5"  *ngFor="let get of form" routerLink="/post">
                                <div class="p-d-flex" style="margin: 2.5% 0 0 13px">
                                    <div class="p-mb-2">
                                        <img src="assets/{{get.thumbnail}}" style="height: 182.05px; width: 164.9px">
                                    </div>
                                    <div class="p-mb-2" style="margin: 0.5% 0 0 3%; position: relative">
                                        <div id="NeedUseDots" style="font-size: 18px; font-weight: bolder; margin-bottom: 10px;">
                                            {{get.Caption}}
                                        </div>
                                        <div class="p-d-flex" style=" margin-bottom: 10px;">
                                            <div class = "p-mb-2">
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                                </p-tag>
                                            </div>
                                            <div class = "p-mb-2">
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                                </p-tag>
                                            </div>
                                            <div class = "p-mb-2">
                                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                                </p-tag>
                                            </div>
                                        </div>
                                        <div id="NeedUseDots" style="font-size: 12px; color: #868686;  margin-bottom: 10px;">
                                            {{get.content}}
                                        </div>
                                        <div>
                                            <div class="p-d-flex" style="font-family: Inter; font-size: 12px; position:absolute; bottom: 5px; right: 0; left: 0">
                                                <div class="p-mr-2">
                                                    <div class="p-d-flex" style="margin-top: 7px;">
                                                        <div class="p-mr-2">
                                                            <p-avatar image="./assets/Capture.PNG" styleClass="p-mr-2" shape="circle"></p-avatar>
                                                        </div>
                                                        <div style="margin: 3px 0 0 -7px">
                                                            <label style="color: #BBBBBB;">Auther</label><br>
                                                            <label style="color: #000000; font-weight: bolder">Trung Dung</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="line-height: 20px; margin: 3px 0 0 11.46%">
                                                    <label style="color: #BBBBBB;">Time</label><br>
                                                    <label style="color: #000000; font-weight: bolder;">21.12.2021</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <div class="storyMb p-shadow-5" *ngFor="let get of form" routerLink="/post" >
                    <div  class="p-d-flex p-flex-column" style=" padding: 3%;">
                        <div class="p-mb-2" style="position: relative; text-align: center">
                            <img src="assets/{{get.thumbnail}}" class="product-image"
                                 style=" width: 100%; height: 215px;"/>
                        </div>
                        <div style="margin: 3px 0 0 8px">
                            <div  id="NeedUseDots" style="font-family: Roboto;
                                                                     font-style: normal;
                                                                      font-weight: bolder;
                                                                      font-size: 18px;
                                                                      line-height: 21px">
                                {{get.Caption}}
                            </div>
                            <div style="margin-top: 10px">
                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag01</div>
                                </p-tag>
                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag0222</div>
                                </p-tag>
                                <p-tag styleClass="p-mr-2" severity="info" [rounded]="true">
                                    <div style="color: #000000; font-family: Inter; font-style: normal; font-weight: normal; padding: 0 5px 0 5px">Tag03</div>
                                </p-tag>
                            </div>
                            <div style="margin-top: 10px">
                                <div class="p-d-flex" style="margin-top:-5px;font-family: Inter; font-size: 12px">
                                    <div class="p-mr-2">
                                        <div class="p-d-flex" style="margin-top: 7px;">
                                            <div class="p-mr-2">
                                                <p-avatar image="./assets/{{get.avt}}" styleClass="p-mr-2" shape="circle"></p-avatar>
                                            </div>
                                            <div style="margin: 3px 0 0 -7px">
                                                <label style="color: #BBBBBB;">{{get.rank}}</label><br>
                                                <label style="color: #000000; font-weight: bolder">{{get.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-mr-2" style="line-height: 20px; margin: 3px 0 0 11.46%">
                                        <label style="color: #BBBBBB;">Time</label><br>
                                        <label style="color: #000000; font-weight: bolder;">{{get.time}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
