div{
    padding: 0;
}
#news_content{
    width: 89%;
    max-width: 1162px;
    display: inline-block; text-align:left
}
#news_content .info-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
#news_content .info-main{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #797979;

}
.recent-story{
    font-family: Roboto;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 20px 50px;
}
.recent-story-new{
    margin-left: 50px;
}
#NeedUseDots{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.storyMb{
    border-radius: 12px; height: 370px; max-width: 300px; margin-bottom: 15px;
}
.storyPC{
    border-radius: 12px; min-height: 210px; width: 100%; margin-bottom: 15px;
}
@media only screen and (min-width: 1024px){
    .storyMb{
        display: none;
    }
}
@media only screen and (max-width: 800px){
   .info-author{
       text-align: center;
   }
    .storyPC{
        display: none;
    }
    .storyMb{
        display: block;
    }
   .recent-story{
       margin-left: 0;
   }
   .recent-story-new{
       margin-left: 0;
   }
   .tag{
       margin-top: 10px;
   }
}
@media only screen and (max-width: 600px){
    .router{
        display: none;
    }
}
